<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='/static/main.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>VideoBot</title>

   
</head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="chatbot-dp.css">
</head>

<body>
    <div id="center-text">
        <h2>Short Video Produce Assistant</h2>
    </div>
    <div id="body">


        <!--button-->
        <div id="chat-circle" class="btn btn-raised">
            <div id="chat-overlay"></div>
            <!--<i class="material-icons">android</i>-->
            <img class="chat-circle_robot" src="https://cdn.iconscout.com/icon/free/png-256/robot-86-404724.png">
        </div>

        <!--chat-bot-->
        <div class="chat-box">
            <div class="chat-box-body">
                <!--welcome message-->
                <div class="chat-box-welcome__header">
                    <div class="chat-box__header-text">
                        <p3 class="chat-box-welcome__company-name">ChatBot</p3>
                        <span class="chat-box-toggle"><i class="material-icons">cancel</i></span>
                    </div>

                    <div id="chat-box-welcome__ava">
                        <!--<i class="material-icons">android</i>-->
                        <img class="chat-box-welcome_robot" src="https://cdn.iconscout.com/icon/free/png-256/robot-86-404724.png">
                    </div>
                    <div class="chat-box-welcome__welcome-text">
                        <p>Hi! I'm ChatBot IDA, Please upload your file which you want to produce?</p>
                    </div>
                    <!--<div id="chat">

                    </div>-->
                </div>




                <!--chat-bot after welcome was toggled-->
                <div id="chat-box__wraper">
                    <div class="chat-box-header">
                        ChatBot
                        <span class="chat-box-toggle"><i class="material-icons">cancel</i></span>
                    </div>



                    <div class="chat-box-overlay">
                    </div>
                    <div class="chat-logs">
                        <div id="cm-msg-0" class="chat-msg bot">
                            <span class="msg-avatar">
                       <!--<i class="material-icons">android</i>-->
                       <img class="chat-box-overlay_robot" src="https://cdn.iconscout.com/icon/free/png-256/robot-86-404724.png">          
                       </span>
                            <div class="cm-msg-text">
                                Hi! I'm ChatBot IDA, what can I assist you with?
                            </div>
                        </div>
                        <!--<div class="text-center"><p>loader 1</p><div class="loader1"></div></div>-->
                        <div class="spin-container">
                            <div class="spiner">
                                <div aria-hidden="true"></div>
                                <div aria-hidden="true"></div>
                                <div aria-hidden="true"></div>
                            </div>
                        </div>



                    </div>
                    <!--chat-log-->
                </div>

            </div>
            <div class="chat-input-box" id="chatLog">
                
                   <!-- <input type="text" class="chat-input__text" id="chat-input__text" placeholder="Send a message..." />  -->
                    <!-- <button type="submit" class="chat-submit" id="download-button">
                      <i class="material-icons">send</i>
                    </button> -->
                    <form action="/upload" method="post" enctype="multipart/form-data">
                      <!-- 選擇文本檔案： -->
                      <!-- <input type="file" id="file" name="file" accept=".txt"> -->
                      
                      <label for="file" class="file-upload">
                        Choose the file <br>and Click Send Button
                        <input type="file" id="file" name="file" accept=".txt" hidden>
                      </label>
                      <button type="submit" class="chat-submit" onclick="alert('File uploaded and script executed')">
                        <i class="material-icons">send</i> Send
                      </button>
                    </form>
                    
                    
                    <button id="download-button">
                      <i class="material-icons">file_download</i> Download Video
                    </button>
                
            </div>
            
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    

</body>

<script>
    var botController = (function () { 

})();

var uiController = (function () {
})();




var controller = (function (botCntr, uiCntr) {
    var $chatCircle,
        $chatBox,
        $chatBoxClose,
        $chatBoxWelcome,
        $chatWraper,
        $submitBtn,
        $chatInput,
        $msg;

    /*toggle*/
    function hideCircle(evt) {
        evt.preventDefault();
        $chatCircle.hide('scale');
        $chatBox.show('scale');
        $chatBoxWelcome.show('scale');
    }

    function chatBoxCl(evt) {
        evt.preventDefault();
        $chatCircle.show('scale');
        $chatBox.hide('scale');
        $chatBoxWelcome.hide('scale');
        $chatWraper.hide('scale');
    }

    function chatOpenMessage(evt) {
        evt.preventDefault();
        $chatBoxWelcome.hide();
        $chatWraper.show();
    }

    

    function chatSbmBtn(evt) {
        if (evt.keyCode === 13 || evt.which === 13) {
            console.log("btn pushed");
        }
    }
   

    function init() {
        $chatCircle = $("#chat-circle");
        $chatBox = $(".chat-box");
        $chatBoxClose = $(".chat-box-toggle");
        $chatBoxWelcome = $(".chat-box-welcome__header");
        $chatWraper = $("#chat-box__wraper");
        $chatInput = $("#chat-input__text");
        $submitBtn = $("#chat-submit");

        //1. call toggle 
        $chatCircle.on("click", hideCircle);
        $chatBoxClose.on("click", chatBoxCl);
        $chatInput.on("click", chatOpenMessage);

        //2. call wait message from CRM-human

        $submitBtn.on("click", chatSbmBtn);
        $chatInput.on("keypress", chatSbmBtn);


        //6. get message from bot controller-back end
        //7. display bot message to ui controller
    }

    return {
        init: init
    };

})(botController, uiController);


$('.chat-input__form').on('submit', function (e) {
    e.preventDefault();
  msg = $('.chat-input__text').val();
  
  $('.chat-logs').append('<div id="cm-msg-0" class="chat-msg background-warning push-right bot"><div class="cm-msg-text">' + msg + '</div><span class="msg-avatar"><img class="chat-box-overlay_robot" src="https://www.meetsource.com//userStyles/images/user.png"></span></div>');  
  $('.chat-input__text').val('');
});


$(document).ready(controller.init);

   
    function talk() {
      var user = document.getElementById("userBox").value;
      document.getElementById("userBox").value = "";
      document.getElementById("chatLog").innerHTML += user+"<br>";
      if (user in know) {
        document.getElementById("chatLog").innerHTML += know[user]+"<br>";
      } 
      else {
        document.getElementById("chatLog").innerHTML += "I don't understand...<br>";
      }
    } 
</script>

<script>
  document.getElementById('download-button').addEventListener('click', function(event) {
      event.preventDefault();
  
      fetch('/download/short.avi')
          .then(response => {
              if (!response.ok) {
                  return response.json().then(error => Promise.reject(error));
              }
              return response.blob();
          })
          .then(blob => {
              var url = window.URL.createObjectURL(blob);
              var a = document.createElement('a');
              a.href = url;
              a.download = 'short.avi';
              document.body.appendChild(a);
              a.click();
              a.remove();
          })
          .catch(error => {
              console.log(error);
              if (error.error) {
                  alert(error.error);
              } else {
                  alert('影片機器人還在製作中,請稍等......');
              }
          });
  });
  </script>







</html>
